.form {
    display: flex;
    flex-direction: column;
}

input {
    background: #C0D0DD;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #1a202c;
    padding: 8px;
    min-width: 64px;
    background: transparent;
    transition: all 0.1s ease-in;
}

.button:hover {
    background: #C0D0DD;
    color: #ffffff;
}