body {
    background-image: url(https://on-desktop.com/images/wp.php?path=/wps/Backgrounds_Robot_from_Star_Wars__light_background_100906_.jpg&wp=17);
    background-position: center;
    background-size: cover;
}